.gameBoard {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    user-select: none;
    cursor: pointer;
}

.gameHeading {
    font-family: cursive;
    font-size: 48px;
}

.box:nth-child(3n+1) {
    border-left: 0;
}

.box:nth-child(-n+3) {
    border-top: 0;
}

.box:nth-child(3n) {
    border-right: 0;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
    border-bottom: 0;
}

.box:hover {
    background-color: #eee;
}


.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    height: 300px;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #f0e4e4;
    box-shadow: 16px 12px 16px 12px darkgrey;

}

.playerContainer {
    display: flex;
    justify-content: center;
    height: 512px;
    align-items: center;
}

.player>input {
    padding: 16px;
    width: 200px;
    border-radius: 24px;
    text-align: center;
    font-size: 18px;
    font-family: cursive;
}

.player>button {
    padding: 12px;
    width: 130px;
    border-radius: 18px;
    text-align: center;
    font-size: 18px;
    font-family: cursive;
    background-color: #e0f0e0;
}

.player>input:hover {
    background-color: #eee;
}


.player>button:hover ,.player-selectmode>button:hover{
    background-color: lightgreen;
}

.winnerScreen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
    background-color: #73f373;
    border-radius: 12px;
    font-family: cursive;
}

.Buttons>button {
    padding: 4px;
    width: 100px;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    font-family: cursive;
    background-color: #e0f0e0;
}

.Buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Buttons>button:hover {
    background-color: lightblue;
}

.player-selectmode {
    height: 300px;
    width: -moz-fit-content;
    width: 320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #f0e4e4;
    background-color: #ecf7f7;
    box-shadow: 16px 12px 16px 12px darkgrey;
}

.player-selectmode>button {
    padding: 12px;
    width: 220px;
    border-radius: 18px;
    text-align: center;
    font-size: 18px;
    font-family: cursive;
    background-color: #e0f0e0;
}